
.hidden {
    display: none;
}

body {
    margin: 0;
    background: rgb(245, 241, 241);
    font-family: arial;
}

header{
    background: rgb(208, 237, 198);
    color: #000;
    padding: 25px 25px;
    text-align: center;
}

h2 {
    background: rgb(107, 176, 113);
    padding: 10px;
    color: #000;
    font-family: arial;
}

h3 {
    margin-left: 100px;
}

.row1 {
    margin-left: 100px;
    margin-right: 100px;
    padding: 110px 5px 0px 5px;
    background: rgb(107, 176, 113);
}

.scol {
    margin-left: 15px;
    display: inline-block;
}
.floatright {
    float: right;
}

.col {
    background: rgb(190, 216, 181);
    text-align: center;
    color: #000;
    padding: 1%;
    float: left;
    width: 18%;
    font-weight: 700;
}
.col2 {
    padding-top: 1%;
    padding-right: 1%;
    float: left;
    width: 1%;
    margin: 10px 0;
}

#enrolledStatus, #openStatus {
    color: green;
}

#droppedStatus, #closedStatus {
    color: red
}

#waitlistStatus {
    color: yellow;
}

.subrow{
    margin-top:15px;
    margin-left: 25%;
}


button {
    color: #111;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 600;
    top: 15px;
    right: 15px;
    position: relative;
}
.selectBtn {
    padding: 0px 0px;
    top: 0px;
    right: 0px;
    height: 20px;
    font-size: 15px;
    position: relative;
}
.deleteBtn {
    padding: 0px 0px;
    font-size: 0px;
    top: 0px;
    right: 0px;
    height: 20px;
    font-size: 15px;
    position: relative;
    color: red;
}

.shoppingCart {
    min-height: 270px;
    padding-left: 10%;
}

.classSchedule {
    padding-left: 10%;
    width: 90%;
}

table {
    padding-left: 10%;
    width: 90%;
}
th, td {
    height: 30px;
    color: black;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.row3 {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    height: 90px;
    padding: 0px 5px 0px 5px;
    background: rgb(107, 176, 113);
}

.textbox {
    font-size: 20px;
    padding: 10px;
}

#courseName {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}


#courseCol {
    width: 8%;
}
#sectionCol {
    width: 5%;
}
#roomCol {
    width: 8%;
}
#unitsCol {
    width: 4%;
}
#statusCol {
    width: 4%;
}
#checkCol {
    width: 3%;
}
#selectCol {
    width: 5%;
}
#deleteCol {
    width: 5%;
}


hr {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-width:0;
    height: 3px;
}

#nav {
    left: 0%;
    right: 0%;
    background-color: #154733;
	position: fixed;
	display: block;
    transition: top 0.4s;
    box-shadow: 2px 2px 5px #383838;
    z-index: 1;
}

.nav-item:first-child {
    float: left;
	font-weight: 500;
}

.nav-item {
	color: #ffb718;
	float: right;
	display: block;
	text-align: center;
	padding: 40px;
	text-decoration: none;
	font-size: 21px;
	font-weight: 500;
}

.nav-logo {
	color: #ffb718;
	float: left;
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
}

.nav-item:hover {
	color: #ffb718;
	transition: 0.5s;
}


.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item::after {
    display:block;
    content: '';
    border-bottom: solid 3px #ffb718;  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}
